{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quos maiores voluptatum illo odit ipsum aliquam
            minima
            eum, aperiam obcaecati ipsam impedit dicta rem ad nisi voluptatem eius nulla delectus. Ipsam alias hic aliquid
            perspiciatis dolor dicta placeat praesentium, porro necessitatibus nam repudiandae quisquam optio, non possimus
            a.
            Culpa laborum ipsum, architecto sint, aliquid expedita, adipisci sequi optio soluta repellendus fugiat.
            Distinctio
            facilis necessitatibus deleniti quae dignissimos debitis expedita velit rerum tempora similique explicabo itaque
            officia vero magnam in aliquid, maxime consectetur dolorem. Corrupti eius quam natus explicabo rerum, tenetur
            debitis quibusdam assumenda ab. Nulla debitis quibusdam aut natus cupiditate.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                signup
            </a>
        </div>
    </section>
</main>


{% endblock %}
